form {
    margin: auto;
}

input,
form button {
    padding: 10px 20px;
    background-color: transparent;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid #111;
    width: 100%;
}

.error-message {
    font-size: 10px;
    color: red;
    margin-bottom: 15px;
}

form button {
    cursor: pointer;
    background-color: #eee;
}